<% include partials/header %>

<div class="card">
 <h4 class="card-header"><img src="<%= campground.image %>" class="img-fluid" alt="Responsive image"></h4>
 <div class="card-body">
   <h4 class="card-title"><%= campground.name %></h4>
   <p class="card-text"><%= campground.description %></p>
   <% campground.comments.forEach(function(comment) { %>
      <p>
        <strong><%= comment.author %></strong> - <comment><%= comment.text %></comment>
      </p>
   <% }); %>
 </div>
</div>

<% include partials/footer %>
